body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 16%, 13%);
}

h1{
    color: orange;
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}

#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.089);
    border-radius: 4px;
    margin-bottom: 15px;

}

label{
    font-size: 1.5em;
    font-weight: bold;

}

button{
    margin-top: 15px;
    background-color: rgba(124, 13, 13, 0.719);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(204, 24, 24);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}